.swal2-popup.swal2-modal.swal2-show
{

    width: 719px!important;
    padding: 3em!important;
    display: flex;
    
    border-radius: 17px!important;
    box-shadow: 0px 0px 14px 5px #595858!important;



}

.shodow
{
    box-shadow: 0px 0px 14px 5px #595858!important;


}