<dx-data-grid id="gridContainer"
    [dataSource]="dataSource2"
    [remoteOperations]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="false"
    [showBorders]="true"
    (onToolbarPreparing)="onToolbarPreparing($event)"
   
    columnResizingMode="widget"
    [allowColumnResizing]="true"
    [rowAlternationEnabled]="true"
    [columnHidingEnabled]="true"
   
 >
 <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
    <dxo-filter-row [visible]="true"  [applyFilter]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
   <!-- <dxo-header-filter [visible]="true"  ></dxo-header-filter> --><!-- [dataSource]="saleAmountHeaderFilter" -->
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxi-column [width]="80" dataField="id" caption="Id"  [visible]="true"  dataType="number" alignment="right" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column dataField="keyword" caption="{{'CM.KeyWord'| translate}}" [visible]="true"   dataType="string" [allowHeaderFiltering]="false" ></dxi-column>
    <dxi-column dataField="value" caption="{{'CM.Value'| translate}}" [visible]="true" dataType="string" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column dataField="dateCreated" caption="{{'CM.dateCreated'| translate}}" [visible]="true" dataType="datetime" format="dd/MM/yyyy HH:mm" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column dataField="dateUpdate" caption="{{'CM.dateUpdate'| translate}}" [visible]="true" dataType="datetime" format="dd/MM/yyyy HH:mm" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column [width]="80" dataField="is_active" caption="{{'CM.active'| translate}}" [visible]="true" dataType="string" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column  [width]="80" dataField="is_test" caption="{{'CM.test'| translate}}" [visible]="true" dataType="string" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column dataField="readers" caption="{{'CM.readers'| translate}}" [visible]="false" dataType="string" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column dataField="authors" caption="{{'CM.authors'| translate}}" [visible]="false" dataType="string" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column dataField="comment" caption="{{'CM.comment'| translate}}" [visible]="false" dataType="string" [allowHeaderFiltering]="false"></dxi-column>
    <dxi-column [width]="80" caption="{{'CM.action'| translate}}"  cellTemplate="cellTemplate" [visible]="true" [allowHeaderFiltering]="false"></dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
      <a (click)="goShow(this,data.data.id)" rel="noopener" style="margin-right: 10px;" ><i class="fa fa-eye" title="{{'CM.afficher2' | translate}}"></i></a>    
        <a (click)="goEdit(this,data.data.id)"  rel="noopener"style="margin-right: 10px;"><i class="fa fa-pencil-square-o" title="{{'CM.modifier2' | translate}}" [id]="data.data.id" *ngIf="checkEdit(data.data.authors)==true" ></i></a>
 <a (click)="deletekeyword2(data.data.id)"  rel="noopener" ><i class="fa fa-trash" *ngIf="canDelete(data.data.authors)==true" title="{{'CM.supprimer2' | translate}}"></i></a>
 
      </div>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'CM.search' | translate }}"  ></dxo-search-panel>
      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager  infoText="{{ 'CM.infoText' | translate }}" [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true"></dxo-pager>
      <dxo-export  [enabled]="true" fileName="Contact"  [allowExportSelectedData]="true" ></dxo-export>
      <dxo-selection mode="multiple" [deferred]="true"></dxo-selection>   
</dx-data-grid>




      